*, body{
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
  }

@media only screen and (max-width: 768px) {
  
  /**Mobile nav**/
  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  
  .sidenav{
    display: none;
  }

  .mobile-navbar {
    display: flex;
    width: 100%;  
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .mobile-navbar .menu-items {
    display: flex;
  }
  
  .mobile-navbar .nav-container li {
    list-style: none;
  }
  
  .mobile-navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .mobile-navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .mobile-navbar .menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .mobile-navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 12px;
    right: 5px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  /**End of mobile navbar**/
  
  section{
    margin: 5% 10%;
  }

  p, ul {
    margin: 8% 2%;
  }

  .code{
    background-color: #1f1f1f;
    border-radius: 15px;
    height:fit-content;
    padding: 3%;
    width: 100%;
  }

  li{
    margin: 6%;
  }
}

@media only screen and (min-width: 769px) {
  
  .mobile-navbar{
    display: none;
  }

  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    
  }

  .sidenav li:hover, .sidenav a:hover {
    color: #f1f1f1;
  }
  
.sidenav li {
    padding: 13.5px 18px 16px 16px;
    font-size: 16px;
    color: #818181;
    display: block;
    border: 1px solid white;
  }

  .sidenav a{
    color: #818181;
    text-decoration: none;
  }

  main {
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  section{
    margin: 2% 0%;
  }

  p, ul {
    margin: 1% 2%;
  }

  .code_container{
    background-color: #1f1f1f;
    border-radius: 15px;
    height:fit-content;
    margin: 0 3%;
    padding: 1%;
    width: 100%;
  }

  code
  {
    background-color: #1f1f1f;
  }

}